# dependencies
node_modules
/.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.development.local
.env.production.local

# vercel
.vercel
